<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
</head>
<body>
	<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr id="headers">
			</tr>
		</thead>
	</table>
</body>
<script>
	$(document).ready(function() {
		//Work out the query to re-ask the server! 

		query = <%- JSON.stringify(query) %>;
		path = "<%= path %>";
		query_params = [];
		Object.keys(query).forEach(function(key,index) {
			query_params.push(encodeURIComponent(key) + "=" + encodeURIComponent(query[key]));
		});
		if (query_params.length > 0) {
			path = path + "?" + query_params.join("&");
		}
		
		// Get the data render the table
		$.getJSON(path, function( data ) {
			item = data[0];
			$.each(item, function(key,val) {
				object = [];
				$('#headers').append('<th>' + key + '</th>');
			});
			output = [];
			$.each(data, function(index,item) {
				part = [];
				$.each(item,function(key,val) {
					part.push(val);
				});
				output.push(part);
			});
			var table = $('#datatable').DataTable({
				"responsive": true,
				"data": output,
				"dom": 'Bfrtip',
				"buttons": ["copy","csv","pdf"]
			});
		});
		
	});
</script>
</html>
